/* pages/Inicio/inicio.css */
.inicio-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
  }
  
  /* Agrega estilos adicionales según lo necesario */
  