.data-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.data-form {
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.data-form input, .data-form select {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    appearance: none;
    background-color: white;
}

.data-form button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #1d2c59;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.data-form button:hover {
    background-color: #001c40;
}
